.content {
  padding: 0 10%;
  flex: 1 0 auto;
}

.content-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (max-width: 900px) {
    margin-bottom: 20px;
  }
}

.content__main-title {
  position: relative;
  min-width: 200px;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 24px;
  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0px;
    width: 30%;
    height: 3px;
    background-color: $orange;
  }
}

.content__sub-title {
  position: relative;
  min-width: 200px;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 24px;
  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0px;
    width: 30%;
    height: 3px;
    background-color: $orange;
  }
}

.content__epigraph {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: italic;
  text-align: right;
  margin-top: 10px;
}

.content__text {
  text-align: justify;
  margin-top: 20px;
  &:last-of-type {
    margin-bottom: 15px;
  }
}

.content__contacts-text-link {
  color: $orange;

  &:hover {
    color: $light-orange;
  }
}

.content__list {
  margin-top: 20px;
  margin-left: 0.5em;
  padding-left: 1.3em;
}

.content__list-item {
  text-transform: lowercase;
  list-style-type: disc;
}

.content__list-item-link {
  text-decoration: underline;
  color: $orange;

  &:hover {
    color: $light-orange;
  }
}

.content__table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 20px;

  border: 1px solid #595959;
  td,
  th {
    border: 1px solid #595959;
    padding: 5px;
  }

  tr:hover {
    background-color: $light-orange;
  }
}

.content__contacts-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content__contacts-inner {
  background-color: #e8e8e8;
  justify-content: space-between;
  display: flex;
  padding: 0 5%;
  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
  }
}

.content__contacts-text {
  margin: 20px 0;
  text-align: center;
}

.content__contacts-text-item {
  display: block;
  color: $orange;
}

.content__contacts-map {
  margin: 80px 0;
}
