.about-us-content {
  padding: 0 10%;
}

.about-us-content__main-title {
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 24px;
}

.about-us-content__epigraph {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: italic;
  text-align: right;
  margin-top: 10px;
}

.about-us-content__text {
  text-align: justify;
  margin-top: 20px;
  &:last-of-type {
    margin-bottom: 15px;
  }
}

.about-us-content__list {
  margin-top: 20px;
}

.about-us-content__list-item {
  list-style-type: disc;
  list-style-position: inside;
}
